tests/
*_cache/
__pycache__/
htmlcov/
reports/
.cache/
.development/
.cursor/
.vscode/
.github/
.git/
.DS_Store
.venv/
.env
.envrc
codecov.yml
duties.py
Dockerfile
scratch/
tmp*
.pre-commit-config.yaml
.typos.toml
.yamllint.yml
.dockerignore
.gitignore
